

.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane > .viewport { 
   -fx-background-color: transparent;
}
.scroll-pane .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}
