.jfx-tab-pane .headers-region {
    -fx-background-color: rgb(60, 90, 255);
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(60, 90, 255);
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
    -fx-pref-height: 3;
}

.jfx-tab-pane .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px; 
    -fx-font-family: 'Helvetica', Roboto, sans-serif;
    -fx-font-weight: 300;
    /*-fx-wrap-text: true;*/
    /*-fx-cursor:hand;*/
}
.jfx-tab-pane .tab:selected .tab-label{
    /*-fx-background-color:#FFFFFF27;*/
}